@import "tailwindcss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f7fa;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.AppContainer {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  flex: 1; 

}
